<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/jquery-1.8.0.js"></script>
<link rel="stylesheet" href="/layui/css/layui.css" />
<link rel="stylesheet" href="/layui/css/modules/laydate/default/laydate.css">
<script src="/layui/layui.all.js" charset="UTF-8"></script>
<script src="/layui/layui.js" charset="UTF-8"></script>
<body>
<table class="layui-table">
    <colgroup>
        <col width="180">
        <col width="220">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>地址</th>
        <th>姓名</th>
        <th>手机</th>
        <th>电话</th>
        <th>添加时间</th>
        <th>默认地址</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>河南省漯河市召陵区</td>
        <td>王二</td>
        <td>15942087701</td>
        <td>024-2222-2222</td>
        <td>2018-11-11</td>
        <td>北京市海淀区西三旗明园大学</td>
    </tr>
    </tbody>
</table>
</body>
</html>