<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<link rel="stylesheet" href="../layui/css/layui.css">
<script src="../layui/layui.js"></script>

<body>

<!-- 资讯频道start -->
  <div class="layui-row">
     <div  class="layui-col-md12">
              <div class="layui-col-xs1" >
                <a href="" title="物流专线新闻">物流专线新闻</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="物流公司新闻">物流公司新闻</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="物流行业新闻">物流行业新闻</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="货运时刻表">货运时刻表</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="名人专访">名人专访</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="物流招标">物流招标</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="绿蚂蚁">绿蚂蚁</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="热点新闻">热点新闻</a>
              </div>
              <div class="layui-col-xs1">
                  <a href="" title="物流专线">物流专线</a>
              </div>
      </div>
  </div>
<!-- 资讯频道start -->
  &nbsp;
  <div class="layui-rowTwo layui-col-space15">
      <div class="position">
          <a href=""><font color="green">首页</font></a>
          <em>></em>
          <span>
              <a href=""><font color="#00ff7f">物流新闻</font></a>
          </span>
      </div>
      <!-- 今日头条start -->
      <div class="layui-col-md5" >
      <h2 class="layui-colla-title"><font color="#ff7f50"><b>今日头条</b></font></h2>
          <ul>
              <!-- 新闻1 -->
              <li>
                  <fieldset class="layui-elem-field">
                      <div><span id="xwone"></span></div>
                  </fieldset>
              </li>
              <!-- 新闻2 -->
              <li>
                  <fieldset class="layui-elem-field">
                  <h3>
                      <a title="中国邮政已完成组建省级寄递事业部" href="" target="_blank"><font color="green">中国邮政已完成组建省级寄递事业部</font></a>
                  </h3>
                  <span class="time">2018-07-15 09:53</span>
                  <p>
                      近日，中央纪委国家监委网站陆续公布十九届中央第一轮巡视整改进展情况。10月29日，中央纪委国家监委网站公布了《中共中国邮政集团公司党组关于巡视整改进展情况的通报》（以下简称“《通报》”）。....
                      <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                  </p>
                  </fieldset>
              </li>
              <!-- 新闻3 -->
              <li>
                  <fieldset class="layui-elem-field">
                      <h3>
                          <a title="2018前三季度全社会物流运行情况分析" href="" target="_blank"><font color="green">2018前三季度全社会物流运行情况分析</font></a>
                      </h3>
                      <span class="time">2018-09-10 08:23</span>
                      <p>
                          三季度以来，宏观经济运行呈现稳中有变的发展格局，但经济内生动力依然较强，物流运行变中有进，社会物流总需求基本平稳，增长动力持续转换，物流运行继续朝向高质量方向发展。中国物流信息中心26日发布的物流运行情况分析报告显示，前三季度全社会物流总额204.1万亿元，接近去年前十个月的206.3万亿元，按可比价格计算，同比增长6.7%，增速与上半年和去年同期相比回落0.2个百分点。....                          <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                      </p>
                  </fieldset>
              </li>
              <!-- 新闻4 -->
              <li>
                  <fieldset class="layui-elem-field">
                      <h3>
                          <a title="9月份中国仓储指数为51.8% 需求回升明显" href="" target="_blank"><font color="green">9月份中国仓储指数为51.8% 需求回升明显</font></a>
                      </h3>
                      <span class="time">2018-09-10 08:23</span>
                      <p>
                          中国物流与采购联合会与中储发展股份有限公司联合调查的2018年9月中国仓储指数为51.8%，较上月回升1.7个百分点。各分项指数中，除企业员工指数、业务活动预期指数较上月有所回落外，其余指数均有不同程度的回升。....
                          <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                      </p>
                  </fieldset>
              </li>
              <!-- 新闻5 -->
              <li>
                  <fieldset class="layui-elem-field">
                      <h3>
                          <a title="2018年9月份中国沿海（散货）运输市场分析报告" href="" target="_blank"><font color="green">2018年9月份中国沿海（散货）运输市场分析报告</font></a>
                      </h3>
                      <span class="time">2018-09-10 08:23</span>
                      <p>
                          9月份，在北方港口发运节奏调整、台风以及燃油价格上涨等因素推动下，沿海散货运输市场淡季不淡，行情稳中向好。9月28日，上海航运交易所发布的沿海（散货）综合运价指数报收1218.44点，较上月末上涨3.0%，月平均值为1209.94点，较上月上涨6.4%。....
                          <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                      </p>
                  </fieldset>
              </li>
          </ul>
      </div>
      <!-- 今日头条end -->
      <!-- 图片新闻start-->
      <div class="layui-col-md6 ">
      <h2 class="layui-colla-title"><font color="#ff7f50"><b>图片新闻</b></font></h2>
          <!-- 图片新闻轮播start -->
          <div class="layui-carousel" id="test1">
              <div carousel-item>
                  <!-- 图片新闻1 -->
                  <div>
                      <h3>
                          <a title="10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧" href="" target="_blank"><font color="green">10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧</font></a>
                      </h3>
                      <p>
                          综合来看，10月份，国内大宗商品市场形势良好，供需两旺，但供应端增速快于消费端，导致市场供应压力加大，
                          库存持续积聚。进入11月份，秋冬季大气环保综合治理全面打响，加之出口形势依然严峻，需求将会进入回落期，
                          市场调整的风险正在逐步加大。不过，当前我国经济仍将保持稳步增长态势，随着悲观情绪的缓和以及国内政策加码，
                          市场信心将迎来修复，加之各地限产政策的实施，供给层面预计会有所减少，将为市场提供一定支撑。...
                          <a href="" target="_blank"><font color="#00ff7f">[详细]</font></a>
                      </p>
                      <br>
                      <a href=""><img src="../layui/img/1.png" height="350" width="650"/></a>
                  </div>
                  <!-- 图片新闻2 -->
                  <div>
                      <h3>
                          <a title="11月份这些新规将影响快递从业人员" href="" target="_blank"><font color="green">11月份这些新规将影响快递从业人员</font></a>
                      </h3>
                      <p>
                          转眼间，10月份就要过去了，在即将到来的11月，一些事关快递人的新政策、新规定、新举措也将正式实施：
                          进博会召开、迎战“双11”、个人信息保护、绿色快递宣传周、快递费调整……...
                          <a href="" target="_blank"><font color="#00ff7f">[详细]</font></a>
                      </p>
                      <br>
                      <a href=""><img src="../layui/img/10.jpg" height="350" width="650"/></a>
                  </div>
                  <!--图片新闻3-->
                  <div>
                      <h3>
                          <a title="中欧班列（西安）2018年首超千列开行仪式在西安新建新筑物流基地举行" href="" target="_blank"><font color="green">中欧班列（西安）2018年首超千列开行仪式在西安新建新筑物流基地举行</font></a>
                      </h3>
                      <p>
                          由西安市人民政府、中国铁路西安局集团有限公司主办的中欧班列(西安)2018年开行首超1000列暨新筑铁路综合物流中心建成投用仪式，
                          10月30日在中铁四局承建西安新建新筑物流基地举行。...
                          <a href="" target="_blank"><font color="#00ff7f">[详细]</font></a>
                      </p>
                      <br>
                      <a href=""><img src="../layui/img/11.jpg" height="350" width="650"/></a>
                  </div>

              </div>
          </div>
          <!-- 图片新闻轮播end -->
          <!-- 图片 -->
          <img src="../layui/img/guanggao.png" height="330" width="293"/>
          &nbsp;&nbsp;
          <img src="../layui/img/erweima.png" height="330" width="293"/>
          <!--图片end -->
         </div>
      <!-- 图片新闻end-->


      <!-- 热点推荐 -->
      <div class="hotnews layui-col-space15">
          <div class="layui-col-md7 ">
           <fieldset class="layui-elem-field">
              <h2 class="title">
                  <font color="#ff7f50"><p>热点推荐</p></font>
              </h2>
           </fieldset>

              <ul>
                  <!-- 热点推荐新闻1 -->
                  <li>
                      <fieldset class="layui-elem-field">
                          <a href="" title="" target="_blank">
                              <img src="../layui/img/10.jpg" height="270" width="270"/>
                          </a>
                          <h3>
                              <a title="铁岭到阿拉善物流专线" href="" target="_blank"><font color="green">铁岭到阿拉善物流专线</font></a>
                          </h3>
                          <span class="time">2018-07-04 09:34</span>
                          <p>
                              铁岭到阿拉善物流专线（http://www.lvmae.com/road/7246-5957/index.html），铁岭到阿拉善物流公司由绿蚂蚁物流平台为您提供。以下为您提供几家能够承运铁岭到阿…..
                              <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                          </p>
                      </fieldset>
                  </li>
                  <!-- 热点推荐新闻1 -->
                  <li>
                      <fieldset class="layui-elem-field">
                          <a href="" title="10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧" target="_blank">
                              <img src="../layui/img/10.jpg" height="270" width="270" alt="10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧"/>
                          </a>
                          <h3>
                              <a title="10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧" href="" target="_blank"><font color="green">铁岭到阿拉善物流专线</font></a>
                          </h3>
                          <span class="time">2018-07-04 09:34</span>
                          <p>
                              综合来看，10月份，国内大宗商品市场形势良好，供需两旺，但供应端增速快于消费端，导致市场供应压力加大，库存持续积聚。进入11月份，秋冬季大气环保综合治理全面打响，加之出口形势依然严峻，需求将会进入回落期，市场调整的风险正在逐步加大。不过，当前我国经济仍将保持稳步增长态势，随着悲观情绪的缓和以及国内政策加码，市场信心将迎来修复，加之各地限产政策的实施，供给层面预计会有所减少，将为市场提供一定支撑。..
                              <a href="" target="_blank"><font color="#00ff7f">详情</font></a>
                          </p>
                      </fieldset>
                  </li>
              </ul>
          </div>
          <!-- 热点推荐end -->
          <!-- 点击排行 -->
              <div class="layui-col-md5">
                  <br>
                  <h2>
                      <span><font color="#ff7f50">点击排行</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="绿蚂蚁物流商旗舰店上线啦" href="" target="_blank">绿蚂蚁物流商旗舰店上线啦</a>
                          <hr>
                      </li>
                      <li>
                          <a title="物流公司收费标准之上门收货&送货上门费用标准" href="" target="_blank">物流公司收费标准之上门收货&送货上门费用标准</a>
                          <hr>
                      </li>
                      <li>
                          <a title="中国排名前十的国际货运代理企业" href="" target="_blank">中国排名前十的国际货运代理企业</a>
                          <hr>
                      </li>
                      <li>
                          <a title="绿蚂蚁物流搜索平台“智能云套餐”震撼来袭" href="" target="_blank">绿蚂蚁物流搜索平台“智能云套餐”震撼来袭</a>
                          <hr>
                      </li>
                      <li>
                          <a title="顺丰同城当日达 覆盖全国100个城市" href="" target="_blank">顺丰同城当日达 覆盖全国100个城市</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 物流专线新闻 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">物流专线新闻</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="铁路部门取消部分货运收费项目" href="" target="_blank">铁路部门取消部分货运收费项目</a>
                          <hr>
                      </li>
                      <li>
                          <a title="江门到银川物流专线" href="" target="_blank">江门到银川物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="江门到西宁物流专线" href="" target="_blank">江门到西宁物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="江门到乌鲁木齐物流专线" href="" target="_blank">江门到乌鲁木齐物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="江门到太原物流专线" href="" target="_blank">江门到太原物流专线</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 物流公司新闻 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">物流公司新闻</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="中国邮政已完成组建省级寄递事业部" href="" target="_blank">中国邮政已完成组建省级寄递事业部</a>
                          <hr>
                      </li>
                      <li>
                          <a title="联合包裹推出4年转型计划 B2C业务成发展重点领域" href="" target="_blank">联合包裹推出4年转型计划 B2C业务成发展重点领域</a>
                          <hr>
                      </li>
                      <li>
                          <a title="上半年铁总净亏损骤降六成，负债达4.77万亿元" href="" target="_blank">上半年铁总净亏损骤降六成，负债达4.77万亿元</a>
                          <hr>
                      </li>
                      <li>
                          <a title="顺丰航空开通首条国内直飞越南河内货运航线" href="" target="_blank">顺丰航空开通首条国内直飞越南河内货运航线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="顺丰航空开通首条国内直飞河内货运航线" href="" target="_blank">顺丰航空开通首条国内直飞河内货运航线</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 物流行业新闻 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">物流行业新闻</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧" href="" target="_blank">10月份中国大宗商品指数显示：供应压力有所加大，市场调整风险加剧</a>
                          <hr>
                      </li>
                      <li>
                          <a title="2018年10月中国物流业景气指数为54.5%" href="" target="_blank">2018年10月中国物流业景气指数为54.5%</a>
                          <hr>
                      </li>
                      <li>
                          <a title="11月份这些新规将影响快递从业人员" href="" target="_blank">11月份这些新规将影响快递从业人员</a>
                          <hr>
                      </li>
                      <li>
                          <a title="中欧班列（西安）2018年首超千列开行仪式在西安新建新筑物流基地举行" href="" target="_blank">中欧班列（西安）2018年首超千列开行仪式在西安新建新筑物流基地举行</a>
                          <hr>
                      </li>
                      <li>
                          <a title="2018前三季度全社会物流运行情况分析" href="" target="_blank">2018前三季度全社会物流运行情况分析</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 货运时刻表 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">货运时刻表</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="重庆市建成电商物流三级配送体系" href="" target="_blank">重庆市建成电商物流三级配送体系</a>
                          <hr>
                      </li>
                      <li>
                          <a title="永强阳光物流从深圳龙岗区到杭州市物流专线最新时刻表" href="" target="_blank">永强阳光物流从深圳龙岗区到杭州市物流专线最新时刻表</a>
                          <hr>
                      </li>
                      <li>
                          <a title="永强阳光物流从深圳龙岗区到金华市物流专线最新时刻表" href="" target="_blank">永强阳光物流从深圳龙岗区到金华市物流专线最新时刻表</a>
                          <hr>
                      </li>
                      <li>
                          <a title="永强阳光物流从深圳龙岗区到宁波市物流专线最新时刻表" href="" target="_blank">永强阳光物流从深圳龙岗区到宁波市物流专线最新时刻表</a>
                          <hr>
                      </li>
                      <li>
                          <a title="鹏盛达物流从深圳到武汉物流专线最新时刻表" href="" target="_blank">鹏盛达物流从深圳到武汉物流专线最新时刻表</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 名人专访 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">名人专访</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="年关将至，“骗货”频发，您的物流保险保“骗货”吗？" href="" target="_blank">年关将至，“骗货”频发，您的物流保险保“骗货”吗？</a>
                          <hr>
                      </li>
                      <li>
                          <a title="绿蚂蚁出席光大证券2015年全国互联网物流峰会" href="" target="_blank">绿蚂蚁出席光大证券2015年全国互联网物流峰会</a>
                          <hr>
                      </li>
                      <li>
                          <a title="君宝顺董事长李亚君:厚德载物打造精品物流" href="" target="_blank">君宝顺董事长李亚君:厚德载物打造精品物流</a>
                          <hr>
                      </li>
                      <li>
                          <a title="深远通物流：服务决定后续发展" href="" target="_blank">深远通物流：服务决定后续发展</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 物流招标 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">物流招标</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="2017年度美的集团安得物流辽宁铁管运输项目招标公告" href="" target="_blank">2017年度美的集团安得物流辽宁铁管运输项目招标公告</a>
                          <hr>
                      </li>
                      <li>
                          <a title="广州顶益公司成品面运输招标公告" href="" target="_blank">广州顶益公司成品面运输招标公告</a>
                          <hr>
                      </li>
                      <li>
                          <a title="2017-2018年欧普照明股份有限公司吴江CDC始发全国干线运输业务招标公告" href="" target="_blank">2017-2018年欧普照明股份有限公司吴江CDC始发全国干线运输业务招标公告</a>
                          <hr>
                      </li>
                      <li>
                          <a title="合肥空调电子仓库倒短、装卸项目招标" href="" target="_blank">合肥空调电子仓库倒短、装卸项目招标</a>
                          <hr>
                      </li>
                      <li>
                          <a title="华电大同第一热电厂有限公司2017年2-4月燃煤运输项目招标二次公告" href="" target="_blank">华电大同第一热电厂有限公司2017年2-4月燃煤运输项目招标二次公告</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 绿蚂蚁 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">绿蚂蚁</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="端午将至，绿蚂蚁祝大家端午安康~" href="" target="_blank">端午将至，绿蚂蚁祝大家端午安康~</a>
                          <hr>
                      </li>
                      <li>
                          <a title="绿蚂蚁物流搜索平台“智能云套餐”震撼来袭" href="" target="_blank">绿蚂蚁物流搜索平台“智能云套餐”震撼来袭</a>
                          <hr>
                      </li>
                      <li>
                          <a title="专线物流公司专属推广套餐" href="" target="_blank">专线物流公司专属推广套餐</a>
                          <hr>
                      </li>
                      <li>
                          <a title="物流招标新上线！旗舰店用户免费看！" href="" target="_blank">物流招标新上线！旗舰店用户免费看！</a>
                          <hr>
                      </li>
                      <li>
                          <a title="情人节我不要金银花" href="" target="_blank">情人节我不要金银花</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 热点新闻 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">热点新闻</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="律舰法务率先推出“诊&疗”式服务 让您的企业远离风险" href="" target="_blank">律舰法务率先推出“诊&疗”式服务 让您的企业远离风险</a>
                          <hr>
                      </li>
                      <li>
                          <a title="企业法律顾问" href="" target="_blank">企业法律顾问</a>
                          <hr>
                      </li>
                      <li>
                          <a title="企业为什么要请企业法律顾问？" href="" target="_blank">企业为什么要请企业法律顾问？</a>
                          <hr>
                      </li>
                      <li>
                          <a title="律舰法务为中小企业提供企业法律顾问服务，让您的企业远离风险！" href="" target="_blank">律舰法务为中小企业提供企业法律顾问服务，让您的企业远离风险！</a>
                          <hr>
                      </li>
                      <li>
                          <a title="律舰法务率先推出“诊&疗”式服务 企业法律风险先“诊”后“疗”" href="" target="_blank">律舰法务率先推出“诊&疗”式服务 企业法律风险先“诊”后“疗”</a>
                          <hr>
                      </li>
                  </ul>
                  <!-- 物流专线 -->
                  <br>
                  <h2>
                      <span><font color="#ff7f50">物流专线</font></span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="" target="_blank"><font color="gray">更多></font></a>
                  </h2>
                  <br>
                  <ul>
                      <li>
                          <a title="铁岭到阿拉善物流专线" href="" target="_blank">铁岭到阿拉善物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="铁岭到沈阳物流专线" href="" target="_blank">铁岭到沈阳物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="铁岭到大连物流专线" href="" target="_blank">铁岭到大连物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="铁岭到鞍山物流专线" href="" target="_blank">铁岭到鞍山物流专线</a>
                          <hr>
                      </li>
                      <li>
                          <a title="铁岭到抚顺物流专线" href="" target="_blank">铁岭到抚顺物流专线</a>
                          <hr>
                      </li>
                  </ul>
              </div>
          </div>

  </div>

<div class="layui-col-md12" style="background-color:gray;height: 100px">
    <div class="wrap">
        <h3><strong><font color="#f0f8ff">友情链接</font></strong></h3>
        <div class="link-content">
            <a href="http://www.qj.com.cn/c_fuwu/" target="_blank"><font color="#f0f8ff">服务加盟</font></a>
            <a href="http://www.examw.com/xinli/" target="_blank"><font color="#f0f8ff">心理咨询师</font></a>
            <a href="http://www.chinawutong.com/baike/" target="_blank"><font color="#f0f8ff">物流知识</font></a>
        </div>
    </div>
</div>

<div class="layui-col-md12">
    <div class="wrap">
       <center><p><a href="http://www.lvmae.net/show-9-2-1.html" target="_blank" rel="nofollow">绿蚂蚁介绍</a><span class="line">|</span><a href="http://www.lvmae.net/list-10-1.html" target="_blank" rel="nofollow">大事记</a><span class="line">|</span><a href="http://www.lvmae.net/list-14-1.html" target="_blank" rel="nofollow">公司动态</a><span class="line">|</span><a href="http://www.lvmae.net/list-13-1.html" target="_blank" rel="nofollow">媒体报告</a><span class="line">|</span><a href="http://www.lvmae.com/about/6.html" target="_blank" rel="nofollow">联系我们</a><span class="line">|</span><a href="http://www.lvmae.net/">绿蚂蚁官网</a></p></center>
        <center><p>Copyright © 绿蚂蚁干线<a href="http://www.lvmae.com">物流</a>B2B平台 All rights reserved. <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备14032800号-1</a></p></center>
    </div>
</div>
</body>
<script>

    //图片新闻轮播
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            ,height:'450px'
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
<script type="text/javascript">
    $(function(){
        xwone();
    })

    function xwone(){
        $.ajax({
            type:"post",
            url:"../ant/findNews",
            dataType:"json",
            success:function (data) {
                var newData = JSON.stringify(data.result.data);
                var htm= "<a href='javascript:(0)'>"+newData[i].title+"+"+newData[i].date+"</a>"
                $("#xwone").html(htm);
            },
            error:function (){
                alert("错误");
            }
      });
    }
</script>
</html>