<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/jquery-1.8.0.js"></script>
<link rel="stylesheet" href="/layui/css/layui.css" />
<link rel="stylesheet" href="/layui/css/modules/laydate/default/laydate.css">
<script src="/layui/layui.all.js" charset="UTF-8"></script>
<script src="/layui/layui.js" charset="UTF-8"></script>
<body>
<table class="layui-table">
    <colgroup>
        <col width="120">
        <col width="300">
        <col width="200">
        <col width="180">
        <col width="180">
    </colgroup>
    <thead>
    <tr>
        <th>类型</th>
        <th>标题</th>
        <th>发件人</th>
        <th>时间</th>
        <th>标记</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>系统</td>
        <td><font color="red">致货主的安全发货温馨提醒</font></td>
        <td>系统广播</td>
        <td>2016-11-11</td>
        <td>--</td>
    </tr>
    <tr>
        <td>系统</td>
        <td><font color="red">对兄弟物流下架1个月整顿的通知</font></td>
        <td>系统广播</td>
        <td>2016-11-15</td>
        <td>--</td>
    </tr>
    <tr>
        <td>系统</td>
        <td><font color="red">近期物流公司可能出现线路无法在页面展示的公告</font></td>
        <td>系统广播</td>
        <td>2016-11-16</td>
        <td>--</td>
    </tr>
    </tbody>
</table>
</body>
</html>