<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="../js/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="../js/layui/css/layui.css"  media="all">
<link rel="stylesheet" href="../js/layui/css/layui.css" />
<link rel="stylesheet" href="../js/layui/css/modules/laydate/default/laydate.css">
<script src="../js/layui/layui.all.js" charset="UTF-8"></script>

<body>

<input type="hidden" name="datamodel" th:value="${formdata}" id="datamodelid">

<table class="layui-hide" id="test" lay-filter="test"></table>
</body>
<script th:inline="javascript">
    $(function(){
        fangfa();

    })

function fangfa() {
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '../ant/refer'
            , cols: [
                [
                    {type:'checkbox'},
                    {field: 'id', width: 80, title: 'ID', sort: true}
                    , {field: 'name', width: 80, title: '承运商'}
                    , {field: 'qibujia ', width: 80, title: '起步价', sort: true}
                    , {field: 'lightprice', width: 80, title: '重货'}
                    , {field: 'heavyprice', title: '轻货', minWidth: 100}
                    , {field: 'shixiao', width: 80, title: '时效', sort: true}
                ]
            ]
            , limit: 2
            , limits: [1, 2, 5, 10]
            , method: 'post'
            , page: true
            , request: {
                page: 'pageNo', //页码的参数名称，默认：page
                limit: 'pageSize' //每页数据量的参数名，默认：limit
            }
        });
    });
}

    layui.use('table', function() {

        var msg= [[${formdata}]];
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(test)', function (obj) {
            var gid=obj.data.id;
            //msg[goongsiid] = gid;
            $.ajax({
                url:'../ant/addsubmit',
                type:'post',
                data:{origin:msg.origin,provenance:msg.provenance,contact:msg.contact,phone:msg.phone,nameCommodity:msg.nameCommodity,cargoInformation:msg.cargoInformation,gid:gid},
                dataType:'json',
                success:function(data){
                    alert(data);
                    alert("新增成功");
                    //加到跳转页面；
                },error:function(){
                    alert("新增失败");
                }
            });
        });
    })
</script>

</html>