<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/jquery-1.8.0.js"></script>
<script src="../js/bootstrap/js/bootstrap.js"></script>
<script src="/layui/layui.all.js" charset="UTF-8"></script>
<script src="/layui/layui.js" charset="UTF-8"></script>
<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/layui/css/layui.css" />
<link rel="stylesheet" href="/layui/css/modules/laydate/default/laydate.css">
<body>
<input type="hidden"  id="pwdId" th:value="${loginUser.password}">
<input type="hidden"  id="hidId" th:value="${loginUser.id}">
<center>
<b>
新登录密码:<input type="text" style="width: 150px"  id="pwd1"  class="form-control"  >
重复新密码:<input type="text" style="width: 150px"  id="pwd2" class="form-control"  >
原密码:<input type="text" style="width: 150px" id="password" class="form-control"  >
</b>
<button type="button" onclick="updatePassWord()" class="btn btn-default">确认修改</button>
</center>
</body>
<script type="text/javascript">
    function updatePassWord(){

        var id=$("#hidId").val();
        var pwd=$("#pwdId").val();
        var password=$("#password").val();
        var pwd1=$("#pwd1").val();
        var pwd2=$("#pwd2").val();
        alert(pwd)
        alert(id)
        if(pwd1!=null&&pwd2!=null){
            if(pwd1==pwd2&&password==pwd){
                $.ajax({
                    url:"../ant/updatePassWord",
                    type:"post",
                    data:{id:id,password:pwd1},
                    success:function(data){
                        layer.msg('修改成功');
                        location.reload();
                    },error:function(){
                        layer.msg('错误');
                    }
                });
            }else{
                alert("密码错误")
            }
        }else{
            alert("两次密码请输入一致");
        }

    }
</script>
</html>